![](https://i.imgur.com/N3EIWfx.png)

1. [**Dataset's**](#eje1)
2. [**Description**](#eje2)

---

<h1> <b>Integrantes</b> </h1>

<ul>
  <li>Daniel David Delgado Cervantes - 2182066 <b>Grupo H2</b></li>
  <li>Gianfranco Estevez Ruiz - 2183074 <b>Grupo H1</b> </li>
  <li>Edward Javier Parada Silva - 2182070 <b>Grupo H2</b></li>

</ul>

# **1. Dataset's**

In [2]:
#@title <i>Review Dataset
import pandas as pd
import numpy as np

# load the dataset

data = pd.read_csv('https://raw.githubusercontent.com/Gacrucis/WhoReviewsTheReviews/main/fake_revievs_dataset.csv')
data.head(10)

,category,rating,label,text
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...
5,Home_and_Kitchen_5,3.0,CG,I WANTED DIFFERENT FLAVORS BUT THEY ARE NOT.
6,Home_and_Kitchen_5,5.0,CG,They are the perfect touch for me and the only...
7,Home_and_Kitchen_5,3.0,CG,These done fit well and look great. I love th...
8,Home_and_Kitchen_5,5.0,CG,"Great big numbers & easy to read, the only thi..."
9,Home_and_Kitchen_5,5.0,CG,My son loves this comforter and it is very wel...


<br>
<p> There are 4 columns with the following categories: </p>
<br>

<h3>Categories </h3>

<ul>
  <li>Clothing Shoes and Jewelry</li>
  <li>Electronics</li>
  <li>Home and Chicken</li>
  <li>Kindle Store</li>
  <li>Movies and TV</li>
  <li>Pet Supplies</li>
  <li>Sports and Outdoors</li>
  <li>Tools and Home Improvement</li>
  <li>Toys and Games</li>
  <li>Books</li>
</ul>
<br>

<h3>Rating </h3>
<ul>
  <li>This column has values between 1 - 5 stars</li>
</ul>
<br>

<h3>Label </h3>
<ul>
  <li>CG -> Computer Genereted</li>
  <li>OG -> Original Review</li>
</ul>
<br>

<h3>Text</h3>
<p>This column has the review's description </p>

<br>


<br>
<h1><b>Sentimental Lexicon Dataset </b></h1>
<br>
<p> This dataset has positive and negative (1 is positive and -1 is negative) words that will be used to categorize reviews based in the how sentimentality value. <p/>

source: https://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html#lexicon

In [3]:
#@title <i>Sentimental Lexicon Dataset

data_lexicon = pd.read_csv('https://raw.githubusercontent.com/Gacrucis/WhoReviewsTheReviews/main/lexicon.csv')
data_lexicon

           word   value
0            a+       1
1        abound       1
2       abounds       1
3     abundance       1
4      abundant       1
...         ...     ...
6784       zaps      -1
6785     zealot      -1
6786    zealous      -1
6787  zealously      -1
6788     zombie      -1

[6789 rows x 2 columns]

# **2. Problem Description** <a name="eje2">

Let's see an example with the first row in <i> Dataset review </i>

In [4]:
data.head(1)

,category,rating,label,text
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."

First of all, the puctuation symbols found in each text will be replace with space characters. Then, separate all words in a list.

In [5]:
#@title

punctuations = [',', '.', '?', '¿', '!', '@', '$', '(', ')', ':']

example_text = data.values[0, 3]
text_ws = example_text
print('Text with symbols:')
print(example_text)

for punc in punctuations:

  text_ws = text_ws.replace(punc, ' ')

print(' ')
print('Text without symbols:')
print(text_ws)

print(' ')
print('Separate each word:')
words = text_ws.split(' ')
print(words)

Text with symbols:
Love this!  Well made, sturdy, and very comfortable.  I love it!Very pretty

Text without symbols:
Love this   Well made  sturdy  and very comfortable   I love it Very pretty

Separate each word:
['Love', 'this', '', '', 'Well', 'made', '', 'sturdy', '', 'and', 'very', 'comfortable', '', '', 'I', 'love', 'it', 'Very', 'pretty']

Every word has one value (1 or -1, 0 if it doesn't exists)

In [6]:
lexicon_dict = {word: value for word, value in data_lexicon.values}
print(lexicon_dict)

TypeError: unhashable type: 'slice'

So, all the individual word values are summed into one sentimentality value for the full text

In [ ]:
texts = data['text']

sentimentalities = []
char_amounts = []
word_amounts = []
repetitions = []
for text in texts: #type: ignore
    sentimentality = 0

    for punc in punctuations:
        text = text.replace(punc, ' ')
    text = text.strip()
    words = text.split(' ')
    words = [w.lower() for w in words if w]

    for word in words:
        sentimentality += lexicon_dict.get(word, 0)

    char_amount = len(text)
    word_amount = len(words)
    repetition = word_amount/max((len(np.unique(words)), 1))

    sentimentalities.append(sentimentality)
    char_amounts.append(char_amount)
    word_amounts.append(word_amount)
    repetitions.append(repetition)
    
    
data['sentiment_value'] = sentimentalities #type: ignore
data['word_amount'] = word_amounts #type: ignore
data['char_amount'] = char_amounts #type: ignore
data['repetition_value'] = repetitions #type: ignore

data

                           category  rating  ... char_amount repetition_value
0                Home_and_Kitchen_5     5.0  ...          75         1.181818
1                Home_and_Kitchen_5     5.0  ...          80         1.066667
2                Home_and_Kitchen_5     5.0  ...          66         1.166667
3                Home_and_Kitchen_5     1.0  ...          81         1.062500
4                Home_and_Kitchen_5     5.0  ...          85         1.125000
...                             ...     ...  ...         ...              ...
40427  Clothing_Shoes_and_Jewelry_5     4.0  ...        1693         1.890805
40428  Clothing_Shoes_and_Jewelry_5     5.0  ...        1303         2.527778
40429  Clothing_Shoes_and_Jewelry_5     2.0  ...        1986         1.607477
40430  Clothing_Shoes_and_Jewelry_5     1.0  ...        1299         2.540541
40431  Clothing_Shoes_and_Jewelry_5     5.0  ...        1767         2.095238

[40432 rows x 8 columns]

In [ ]:
print(len(data[data.label == 'CG']))
print(len(data[data.label == 'OR']))

20216
20216

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

data.replace(to_replace='CG', value=0)
data.replace(to_replace='OR', value=1)

X = data[['rating', 'word_amount', 'char_amount', 'sentiment_value', 'repetition_value']]
y = data['label']

for t_size in [0.1, 0.2, 0.3, 0.4]:
  x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=t_size)
  #Cross_validation
  #Test más grandes, diferentes particiones y pruebas
  #Patrón del bot
  est = SVC()
  est.fit(x_train, y_train)
  score = est.score(x_test, y_test)

  print(f'Puntaje con test {t_size} : {score}')

Puntaje con test 0.1 : 0.6772997032640949
Puntaje con test 0.2 : 0.6819586991467788
Puntaje con test 0.3 : 0.6753503709810388
Puntaje con test 0.4 : 0.6746429233908365

## Cross validation

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, make_scorer

s = cross_val_score(est, X, y, cv=KFold(10, shuffle=True), scoring=make_scorer(accuracy_score))
print (s)
print ("accuracy %.3f (+/- %.5f)"%(np.mean(s), np.std(s)))

[0.69263106 0.6760633  0.6935444  0.67895127 0.68290873 0.66806827
 0.69032896 0.68538214 0.69107099 0.67820925]
accuracy 0.684 (+/- 0.00796)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

estTree = DecisionTreeClassifier(max_depth=15)
estTree.fit(x_train, y_train)
estTree.score(x_test, y_test)

0.7933593025412725

In [ ]:
estTree.feature_importances_

array([0.02524755, 0.10577171, 0.42601208, 0.06364089, 0.37932778])